.container {
    margin-top: 1.1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.table {
    border-collapse: collapse;
    align-items: center;
    overflow-y: scroll;
    max-width: 98%;
}

.head {
    background-color: #26508c;
    border-collapse: collapse;
    width: 100%;
    height: 50px;
    color: white;
    border: 1px solid black;
}

.table th {
    border: 1px solid black;
}

.head th {
    width: 100vh;
}

.head th {
    width: 100vh;
}

.body td {
    border: 1px solid black;
    padding: 8px;
}